* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary color */
  --Nutmeg-color: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  /* Neutral color */
  --White-color: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell-background-color: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Eggshell-background-color);
  padding: 1.9rem 2.5rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
}
.preparation-section,
.ingredients {
  margin-top: 1.5rem;
}
.paragraph,
.ingredients,
.instructions,
.instructions li span,
.preparation-section,
.preparation-section li span,
.nutrition-section {
  color: var(--Wenge-Brown);
}

.container {
  background-color: var(--White-color);
  padding: 2.2rem;
  margin: auto;
  max-width: 45rem;
  border-radius: 0.7rem;
}
img {
  max-width: 100%;
  border-radius: 0.6rem;
}
.title {
  font-family: "Young Serif", serif;
  margin-top: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--Dark-Charcoal);
}
.title {
  font-family: "Young Serif", serif;
  margin-top: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--Dark-Charcoal);
}
.preparation-section {
  font-family: "Outfit", sans-serif;
  background: var(--Rose-White);
  padding: 2.5rem;
  border-radius: 0.6rem;
}

.preparation-section h3 {
  color: var(--Dark-Raspberry);
  font-weight: bold;
  margin-bottom: 5px;
}

.preparation-section li span {
  font-weight: bold;
}
.ingredients h2,
.instructions h2,
.nutrition-section h2 {
  letter-spacing: 4px;
  color: var(--Nutmeg-color);
}
