* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
}
.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0, 0%, 100%);
}
img {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}
.preparation {
  background-color: hsl(330, 100%, 98%);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#text {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
  font-size: 20px;
}
#h1Text {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  font-size: 20px;
}
ol {
  margin-left: 20px;
}
ul {
  margin-left: 20px;
}
