* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
}
.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0, 0%, 100%);
}
img {
  width: 400px;
}
.preparation {
}
#text {
  color: hsl(332, 51%, 32%);
}
